In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## 数据信息

In [3]:
data2015=pd.read_excel('./data/sales.xlsx',sheet_name='2015')
data2016=pd.read_excel('./data/sales.xlsx',sheet_name='2016')
data2017=pd.read_excel('./data/sales.xlsx',sheet_name='2017')
data2018=pd.read_excel('./data/sales.xlsx',sheet_name='2018')

In [4]:
data=pd.concat([data2015,data2016,data2017,data2018])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204240 entries, 0 to 81348
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   会员ID    204240 non-null  int64
 1   订单号     204240 non-null  int64
 2   提交日期    204240 non-null  datetime64[ns]
 3   订单金额    204238 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 7.8 MB

In [5]:
data['订单金额'].describe() #无异常值
data['提交日期'].describe()

count    204238.000000
mean        963.079622
std        2236.971821
min           0.000000
25%          59.525000
50%         148.000000
75%         899.000000
max      174900.000000
Name: 订单金额, dtype: float64

C:\Users\81086\AppData\Local\Temp\ipykernel_15692\2249057122.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  data['提交日期'].describe()

count                  204240
unique                   1461
top       2018-12-31 00:00:00
freq                      475
first     2015-01-01 00:00:00
last      2018-12-31 00:00:00
Name: 提交日期, dtype: object

## 数据清洗

In [6]:
data=data.dropna().query('订单金额>0')
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204237 entries, 0 to 81348
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   会员ID    204237 non-null  int64
 1   订单号     204237 non-null  int64
 2   提交日期    204237 non-null  datetime64[ns]
 3   订单金额    204237 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 7.8 MB

## 数据整理

In [7]:
# 统计时间截点
dt1=pd.to_datetime('2017-5-30')
dt_diff=pd.Timedelta(days=365)
dt2=dt1-dt_diff
data_20170530=data[(data['提交日期']>=dt2) & (data['提交日期']<=dt1 )]
data_20170530

              会员ID         订单号       提交日期   订单金额
16901  38616857177  4316058644 2016-05-30  199.0
16902  39290155958  4316058702 2016-05-30   89.0
16903  39294401920  4316058790 2016-05-30  368.0
16904  31957662966  4316059278 2016-05-30    9.9
16905  38880633085  4316059684 2016-05-30   25.0
...            ...         ...        ...    ...
20938  31984319038  4330845499 2017-05-30  899.0
20939  19971139582  4330845899 2017-05-30   75.0
20940      4200696  4330846188 2017-05-30   84.0
20941  39018325355  4330846932 2017-05-30   12.9
20942  39228783289  4330847034 2017-05-30  539.0

[45319 rows x 4 columns]

In [8]:
vip_RFM=data_20170530.pivot_table(index='会员ID',values=['提交日期','订单号','订单金额'],aggfunc={'提交日期':'max','订单号':'count','订单金额':'sum'})
vip_RFM.columns=['最近提交日期','F','M']
vip_RFM['R']=dt1-vip_RFM['最近提交日期']
vip_RFM=vip_RFM[['R','F','M']]
vip_RFM

                   R  F        M
会员ID
81          152 days  1     59.9
278          85 days  2     93.5
282          99 days  2  12992.0
293         165 days  1     97.0
334          95 days  1      1.0
...              ... ..      ...
39538038779 171 days  1     99.0
39538038869  11 days  1    449.0
39545234822 273 days  1     59.9
39545236199 327 days  1     48.0
39545538296  64 days  1    375.0

[39156 rows x 3 columns]

## 数据分区

In [9]:
# 打标签
# 分位点
# R越低等级越高，F越高等级越高，M越高等级越高
R1=vip_RFM['R'].quantile(1/3)
R2=vip_RFM['R'].quantile(2/3)
F1=vip_RFM['F'].quantile(1/3)
F2=vip_RFM['F'].quantile(2/3)
M1=vip_RFM['M'].quantile(1/3)
M2=vip_RFM['M'].quantile(2/3)
vip_RFM['R_partition']=vip_RFM['R'].apply(lambda x:1 if x>=R2 else 2 if x<R2 and x>=R1 else 3)
vip_RFM['F_partition']=vip_RFM['F'].apply(lambda x:1 if x<F1 else 2 if x>=F1 and x<F2 else 3)
vip_RFM['M_partition']=vip_RFM['M'].apply(lambda x:1 if x<M1 else 2 if x>=M1 and x<M2 else 3)
vip_RFM['level_sum']=vip_RFM['R_partition']+vip_RFM['F_partition']+vip_RFM['M_partition']
vip_RFM
# vip_RFM[vip_RFM['F']>1]

,R,F,M,R_partition,F_partition,M_partition,level_sum
会员ID,,,,,,,
81,152 days,1,59.9,2,3,1,6
278,85 days,2,93.5,3,3,1,7
282,99 days,2,12992.0,2,3,3,8
293,165 days,1,97.0,2,3,2,7
334,95 days,1,1.0,3,3,1,7
...,...,...,...,...,...,...,...
39538038779,171 days,1,99.0,2,3,2,7
39538038869,11 days,1,449.0,3,3,2,8
39545234822,273 days,1,59.9,1,3,1,5
39545236199,327 days,1,48.0,1,3,1,5
39545538296,64 days,1,375.0,3,3,2,8

In [10]:
RFM_score_counts=vip_RFM.groupby('level_sum').count()[['R']]
RFM_score_counts.columns=['会员人数']
vip_sum=RFM_score_counts.sum()
RFM_score_counts['占比']=RFM_score_counts/vip_sum*100
RFM_score_counts

            会员人数         占比
level_sum
5           4151  10.601185
6           8698  22.213709
7          12930  33.021759
8           8943  22.839412
9           4434  11.323935

## 时间趋势

In [11]:
# 函数封装
def RFM_score(data,dt):
    # 过滤时间
    dt1=pd.to_datetime(dt)
    dt_diff=pd.Timedelta(days=365)
    dt2=dt1-dt_diff
    data_time=data[(data['提交日期']>=dt2) & (data['提交日期']<=dt1 )]
    # 数据处理
    vip_RFM=data_time.pivot_table(index='会员ID',values=['提交日期','订单号','订单金额'],aggfunc={'提交日期':'max','订单号':'count','订单金额':'sum'})
    vip_RFM.columns=['最近提交日期','F','M']
    vip_RFM['R']=dt1-vip_RFM['最近提交日期']
    vip_RFM=vip_RFM[['R','F','M']]
    # 分位点
    R1=vip_RFM['R'].quantile(1/3)
    R2=vip_RFM['R'].quantile(2/3)
    F1=vip_RFM['F'].quantile(1/3)
    F2=vip_RFM['F'].quantile(2/3)
    M1=vip_RFM['M'].quantile(1/3)
    M2=vip_RFM['M'].quantile(2/3)
    vip_RFM['R_partition']=vip_RFM['R'].apply(lambda x:1 if x>=R2 else 2 if x<R2 and x>=R1 else 3)
    vip_RFM['F_partition']=vip_RFM['F'].apply(lambda x:1 if x<F1 else 2 if x>=F1 and x<F2 else 3)
    vip_RFM['M_partition']=vip_RFM['M'].apply(lambda x:1 if x<M1 else 2 if x>=M1 and x<M2 else 3)
    vip_RFM['level_sum']=vip_RFM['R_partition']+vip_RFM['F_partition']+vip_RFM['M_partition']
    # 统计人数
    RFM_score_counts=vip_RFM.groupby('level_sum').count()[['R']]
    RFM_score_counts.columns=['会员人数']
    vip_sum=RFM_score_counts.sum()
    RFM_score_counts['占比']=RFM_score_counts/vip_sum*100
    return RFM_score_counts

In [12]:
RFM_score_counts_2015=RFM_score(data,'2015-12-31')
RFM_score_counts_2016=RFM_score(data,'2016-12-31')
RFM_score_counts_2017=RFM_score(data,'2017-12-31')
RFM_score_counts_2018=RFM_score(data,'2018-12-31')
RFM_score_counts_2015_2018=pd.concat([RFM_score_counts_2015,RFM_score_counts_2016,RFM_score_counts_2017,RFM_score_counts_2018],axis=1)
RFM_score_counts_2015_2018.columns=['会员人数2015','占比2015','会员人数2016','占比2016','会员人数2017','占比2017','会员人数2018','占比2018']
RFM_score_counts_2015_2018

,会员人数2015,占比2015,会员人数2016,占比2016,会员人数2017,占比2017,会员人数2018,占比2018
level_sum,,,,,,,,
5,3081,11.090713,3427,10.445623,3869,11.182081,5589,10.229145
6,6087,21.911447,7199,21.942819,7585,21.921965,12218,22.361726
7,9208,33.146148,10985,33.482687,11114,32.121387,19357,35.427724
8,6302,22.685385,7554,23.024872,8233,23.794798,11651,21.323987
9,3102,11.166307,3643,11.103999,3799,10.979769,5823,10.657418

## 导出结果

In [18]:
# 导出excel
RFM_score_counts_2015_2018.to_excel('./sales_rfm_score.xlsx')

In [27]:
# 导出mysql
from sqlalchemy import create_engine

In [28]:
cnx = create_engine('mysql+pymysql://root:2214563@localhost:3306/mysql?charset=utf8')

In [30]:
RFM_score_counts_2015_2018.to_sql(name='sales_rfm_score',con=cnx, if_exists='replace', index=False)

5