In [1]:
import pandas as pd

In [2]:
vip_info=pd.read_excel('./data/会员信息查询.xlsx')
vip_info

,会员卡号,会员等级,会员来源,注册时间,所属店铺编码,门店店员编码,省份,城市,性别,生日,年齡,生命级别
0,BL6099033963550303769,黄金会员,线下扫码,2019-03-31 23:55:03.977,DPXX07,NaN,NaN,NaN,女,1975-04-04,43.0,活跃
1,BL6099033963450303763,黄金会员,线下扫码,2019-03-31 23:45:03.005,DPXX07,NaN,NaN,NaN,女,1982-04-02,36.0,活跃
2,BL6099033963464003767,白银会员,电商入口,2019-03-31 23:42:40.073,DPS00X,NaN,NaN,NaN,女,1988-08-13,30.0,沉睡
3,BL6099033963460503766,黄金会员,线下扫码,2019-03-31 23:42:05.516,DPXX07,NaN,NaN,NaN,女,1993-11-24,25.0,活跃
4,BL6099033963660603765,白银会员,电商入口,2019-03-31 23:26:02.402,DPS00X,NaN,NaN,NaN,女,1993-03-20,26.0,沉睡
...,...,...,...,...,...,...,...,...,...,...,...,...
952709,HS346696JA9D,钻石会员,线下扫码,2017-08-03 00:00:00.000,DPX753,NaN,河北省,唐山市,女,1971-09-17,47.0,活跃
952710,HS367073JA96,钻石会员,线下扫码,2017-08-03 00:00:00.000,DPX76X,NaN,四川省,成都市,女,1982-12-12,36.0,活跃
952711,HS353666JAD9,钻石会员,线下扫码,2017-08-03 00:00:00.000,DPX765,NaN,NaN,NaN,女,1970-04-28,48.0,活跃
952712,SB035933JA46,钻石会员,线下扫码,2017-08-03 00:00:00.000,DPX784,NaN,NaN,NaN,女,1968-03-09,51.0,互动
952713,HS355539JA57,钻石会员,线下扫码,2017-08-03 00:00:00.000,DPJ022,NaN,四川省,成都市,女,1974-06-18,44.0,休眠

## 会员存量、增量分析

In [3]:
vip_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 952714 entries, 0 to 952713
Data columns (total 12 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   会员卡号    952714 non-null  object
 1   会员等级    952714 non-null  object
 2   会员来源    952714 non-null  object
 3   注册时间    952714 non-null  datetime64[ns]
 4   所属店铺编码  952714 non-null  object
 5   门店店员编码  253828 non-null  object
 6   省份      264801 non-null  object
 7   城市      264758 non-null  object
 8   性别      952714 non-null  object
 9   生日      785590 non-null  object
 10  年齡      952705 non-null  float64
 11  生命级别    952714 non-null  object
dtypes: datetime64[ns](1), float64(1), object(10)
memory usage: 87.2+ MB

In [4]:
vip_info['Register_Date']=vip_info['注册时间'].dt
vip_info['Register_Year']=vip_info['注册时间'].dt.year
vip_info['Register_Month']=vip_info['注册时间'].dt.month

In [5]:
vip_info.groupby(['Register_Year','Register_Month']).count()['会员卡号']

Register_Year  Register_Month
2017           8                 392910
               9                    760
               10                   996
               11                  1710
               12                  4165
2018           1                  15531
               2                  13798
               3                  49320
               4                  71699
               5                  27009
               6                  17718
               7                   8483
               8                 109674
               9                 147585
               10                 14654
               11                  9912
               12                  6460
2019           1                   9795
               2                  12163
               3                  38372
Name: 会员卡号, dtype: int64

In [6]:
from datetime import datetime
vip_info['注册年月']=vip_info['注册时间'].dt.strftime('%Y-%m')

In [7]:
month_vip_num=vip_info.pivot_table(index='注册年月',values='会员卡号', aggfunc='count') 
month_vip_num.columns=['月增量']
month_vip_num

            月增量
注册年月
2017-08  392910
2017-09     760
2017-10     996
2017-11    1710
2017-12    4165
2018-01   15531
2018-02   13798
2018-03   49320
2018-04   71699
2018-05   27009
2018-06   17718
2018-07    8483
2018-08  109674
2018-09  147585
2018-10   14654
2018-11    9912
2018-12    6460
2019-01    9795
2019-02   12163
2019-03   38372

In [8]:
month_vip_num['存量']=month_vip_num['月增量'].cumsum()
month_vip_num

            月增量      存量
注册年月
2017-08  392910  392910
2017-09     760  393670
2017-10     996  394666
2017-11    1710  396376
2017-12    4165  400541
2018-01   15531  416072
2018-02   13798  429870
2018-03   49320  479190
2018-04   71699  550889
2018-05   27009  577898
2018-06   17718  595616
2018-07    8483  604099
2018-08  109674  713773
2018-09  147585  861358
2018-10   14654  876012
2018-11    9912  885924
2018-12    6460  892384
2019-01    9795  902179
2019-02   12163  914342
2019-03   38372  952714

## 增量等级分布

In [9]:
vip_month_level=vip_info.groupby(['注册年月','会员等级']).count()['会员卡号'].unstack()
vip_month_level

会员等级       白银会员  钻石会员  铂金会员   黄金会员
注册年月
2017-08  376648   185   387  15690
2017-09     530     3    10    217
2017-10     603    13    17    363
2017-11    1311    19    20    360
2017-12    3512    15    24    614
2018-01   11244    24    64   4199
2018-02    9937     9    34   3818
2018-03   41546    57    94   7623
2018-04   62613    48    83   8955
2018-05   19317    19    56   7617
2018-06   11292     7    23   6396
2018-07    3932     8    28   4515
2018-08   95584    27    65  13998
2018-09  133090    20    63  14412
2018-10    9093    15    34   5512
2018-11    6313     4    29   3566
2018-12    2808     3    29   3620
2019-01    3661     5     9   6120
2019-02    4001     5    17   8140
2019-03   10580     3    37  27752

## 增量等级占比分布

In [10]:
vip_month_level['总计']=vip_month_level.sum(axis=1)
vip_month_level

会员等级       白银会员  钻石会员  铂金会员   黄金会员      总计
注册年月
2017-08  376648   185   387  15690  392910
2017-09     530     3    10    217     760
2017-10     603    13    17    363     996
2017-11    1311    19    20    360    1710
2017-12    3512    15    24    614    4165
2018-01   11244    24    64   4199   15531
2018-02    9937     9    34   3818   13798
2018-03   41546    57    94   7623   49320
2018-04   62613    48    83   8955   71699
2018-05   19317    19    56   7617   27009
2018-06   11292     7    23   6396   17718
2018-07    3932     8    28   4515    8483
2018-08   95584    27    65  13998  109674
2018-09  133090    20    63  14412  147585
2018-10    9093    15    34   5512   14654
2018-11    6313     4    29   3566    9912
2018-12    2808     3    29   3620    6460
2019-01    3661     5     9   6120    9795
2019-02    4001     5    17   8140   12163
2019-03   10580     3    37  27752   38372

In [11]:
vip_month_level['白银会员占比']=vip_month_level['白银会员']/vip_month_level['总计']*100
vip_month_level['黄金会员占比']=vip_month_level['黄金会员']/vip_month_level['总计']*100
vip_month_level

会员等级       白银会员  钻石会员  铂金会员   黄金会员      总计     白银会员占比     黄金会员占比
注册年月
2017-08  376648   185   387  15690  392910  95.861139   3.993281
2017-09     530     3    10    217     760  69.736842  28.552632
2017-10     603    13    17    363     996  60.542169  36.445783
2017-11    1311    19    20    360    1710  76.666667  21.052632
2017-12    3512    15    24    614    4165  84.321729  14.741897
2018-01   11244    24    64   4199   15531  72.397141  27.036250
2018-02    9937     9    34   3818   13798  72.017684  27.670677
2018-03   41546    57    94   7623   49320  84.237632  15.456204
2018-04   62613    48    83   8955   71699  87.327578  12.489714
2018-05   19317    19    56   7617   27009  71.520604  28.201711
2018-06   11292     7    23   6396   17718  63.731798  36.098882
2018-07    3932     8    28   4515    8483  46.351527  53.224095
2018-08   95584    27    65  13998  109674  87.152835  12.763280
2018-09  133090    20    63  14412  147585  90.178541   9.765220
2018-10    9093    15    34   5512   14654  62.051317  37.614303
2018-11    6313     4    29   3566    9912  63.690476  35.976594
2018-12    2808     3    29   3620    6460  43.467492  56.037152
2019-01    3661     5     9   6120    9795  37.376212  62.480858
2019-02    4001     5    17   8140   12163  32.894845  66.924279
2019-03   10580     3    37  27752   38372  27.572188  72.323569

## 会员整体等级分布

In [12]:
vip_level=vip_info.groupby('会员等级')[['会员卡号']].count() # DataFrame二维数据，两个中括号
vip_level.columns=['会员数']
# vip_level
s=vip_level['会员数'].sum()
vip_level['占比']=vip_level['会员数']/s*100
vip_level

         会员数         占比
会员等级
白银会员  807615  84.769931
钻石会员     489   0.051327
铂金会员    1123   0.117874
黄金会员  143487  15.060868

## 线上线下增量分析

In [13]:
vip_resource=vip_info.groupby(['注册年月','会员来源']).count()[['会员卡号']].unstack()
vip_resource

          会员卡号
会员来源      电商入口    线下扫码
注册年月
2017-08    128  392782
2017-09      1     759
2017-10      1     995
2017-11      4    1706
2017-12    510    3655
2018-01  11739    3792
2018-02  10665    3133
2018-03   6652   42668
2018-04   3396   68303
2018-05   3560   23449
2018-06   3368   14350
2018-07   1290    7193
2018-08   9166  100508
2018-09  10943  136642
2018-10   3281   11373
2018-11   2350    7562
2018-12   1108    5352
2019-01    946    8849
2019-02    844   11319
2019-03   1383   36989

In [14]:
vip_info.pivot_table(index='注册年月',columns='会员来源',values='会员卡号',aggfunc='count')

会员来源      电商入口    线下扫码
注册年月
2017-08    128  392782
2017-09      1     759
2017-10      1     995
2017-11      4    1706
2017-12    510    3655
2018-01  11739    3792
2018-02  10665    3133
2018-03   6652   42668
2018-04   3396   68303
2018-05   3560   23449
2018-06   3368   14350
2018-07   1290    7193
2018-08   9166  100508
2018-09  10943  136642
2018-10   3281   11373
2018-11   2350    7562
2018-12   1108    5352
2019-01    946    8849
2019-02    844   11319
2019-03   1383   36989

## 地区店均会员数量

In [15]:
store_info=pd.read_excel('./data/门店信息表.XLSX')[['店铺代码','地区编码']]
store_info

       店铺代码     地区编码
0    DPX00X  GBL6020
1    DPX002  GBL6020
2    DPX003  GBL6020
3    DPX004  GBL6020
4    DPX005  GBL6020
..      ...      ...
786  DPJ034  GBL6010
787  DPJ036  GBL6120
788  DPJ037  GBL6100
789  DPJ038  GBL6060
790  DPJ04X  GBL6070

[791 rows x 2 columns]

In [16]:
column_name={'所属店铺编码':'店铺代码'}
vip_info.rename(columns={'所属店铺编码':'店铺代码'},inplace=True)
# vip_info
# store_vip_merge=pd.merge(vip_info,store_info, left_on='所属店铺编码',right_on='店铺代码')
store_vip_merge=pd.merge(vip_info,store_info, on='店铺代码')
store_vip_merge

,会员卡号,会员等级,会员来源,注册时间,店铺代码,门店店员编码,省份,城市,性别,生日,年齡,生命级别,Register_Date,Register_Year,Register_Month,注册年月,地区编码
0,BL6099033963550303769,黄金会员,线下扫码,2019-03-31 23:55:03.977,DPXX07,NaN,NaN,NaN,女,1975-04-04,43.0,活跃,<pandas.core.indexes.accessors.DatetimePropert...,2019,3,2019-03,GBL6030
1,BL6099033963450303763,黄金会员,线下扫码,2019-03-31 23:45:03.005,DPXX07,NaN,NaN,NaN,女,1982-04-02,36.0,活跃,<pandas.core.indexes.accessors.DatetimePropert...,2019,3,2019-03,GBL6030
2,BL6099033963460503766,黄金会员,线下扫码,2019-03-31 23:42:05.516,DPXX07,NaN,NaN,NaN,女,1993-11-24,25.0,活跃,<pandas.core.indexes.accessors.DatetimePropert...,2019,3,2019-03,GBL6030
3,BL6099033963636603763,黄金会员,线下扫码,2019-03-31 23:23:26.115,DPXX07,NaN,NaN,NaN,女,1976-02-26,43.0,活跃,<pandas.core.indexes.accessors.DatetimePropert...,2019,3,2019-03,GBL6030
4,BL6099033963039603755,黄金会员,线下扫码,2019-03-31 23:08:16.873,DPXX07,NaN,NaN,NaN,女,2000-02-07,19.0,活跃,<pandas.core.indexes.accessors.DatetimePropert...,2019,3,2019-03,GBL6030
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
952709,HS500346JAAB,白银会员,线下扫码,2017-08-03 00:00:00.000,DPL4XX,NaN,江苏省,南通市,女,1970-12-05,48.0,沉睡,<pandas.core.indexes.accessors.DatetimePropert...,2017,8,2017-08,GBL6070
952710,HS966734JA9B,白银会员,线下扫码,2017-08-03 00:00:00.000,DPL4XX,NaN,江苏省,南通市,女,NaN,0.0,沉睡,<pandas.core.indexes.accessors.DatetimePropert...,2017,8,2017-08,GBL6070
952711,HS055703JA7C,白银会员,线下扫码,2017-08-03 00:00:00.000,DPL4XX,NaN,江苏省,南通市,女,1987-06-26,31.0,沉睡,<pandas.core.indexes.accessors.DatetimePropert...,2017,8,2017-08,GBL6070
952712,HS303634JA9C,黄金会员,电商入口,2017-08-03 00:00:00.000,DPS093,NaN,贵州省,贵阳市,女,NaN,0.0,活跃,<pandas.core.indexes.accessors.DatetimePropert...,2017,8,2017-08,GBL6D01
952713,HS670635JA96,黄金会员,电商入口,2017-08-03 00:00:00.000,DPS093,NaN,NaN,NaN,女,1988-01-06,31.0,活跃,<pandas.core.indexes.accessors.DatetimePropert...,2017,8,2017-08,GBL6D01

In [17]:
area_vip_num=store_vip_merge[store_vip_merge['地区编码']!='GBL6D01'].groupby('地区编码').count()[['会员卡号']]
area_vip_num.columns=['会员人数']
area_vip_num

           会员人数
地区编码
GBL6010   51745
GBL6020   46945
GBL6030  112114
GBL6040   63426
GBL6050   50474
GBL6060   74447
GBL6070  147804
GBL6080   66750
GBL6090   66685
GBL6100   43695
GBL6110   48547
GBL6120   17850
GBL6130   42003
GBL6140   48894

In [18]:
# 去重
area_vip_num['店铺数']=store_vip_merge[store_vip_merge['地区编码']!='GBL6D01'].drop_duplicates('店铺代码').groupby('地区编码').count()[['店铺代码']]
area_vip_num['每店平均会员数']=round(area_vip_num['会员人数']/area_vip_num['店铺数'],0)
area_vip_num['总平均会员数']=round(area_vip_num['会员人数'].sum()/area_vip_num['店铺数'].sum(),0)
area_vip_num

           会员人数  店铺数  每店平均会员数  总平均会员数
地区编码
GBL6010   51745   40   1294.0  1174.0
GBL6020   46945   41   1145.0  1174.0
GBL6030  112114   78   1437.0  1174.0
GBL6040   63426   47   1349.0  1174.0
GBL6050   50474   38   1328.0  1174.0
GBL6060   74447   31   2402.0  1174.0
GBL6070  147804  114   1297.0  1174.0
GBL6080   66750   70    954.0  1174.0
GBL6090   66685   66   1010.0  1174.0
GBL6100   43695   38   1150.0  1174.0
GBL6110   48547   46   1055.0  1174.0
GBL6120   17850   21    850.0  1174.0
GBL6130   42003   71    592.0  1174.0
GBL6140   48894   50    978.0  1174.0

## 各地区会销比

In [19]:
order=pd.read_excel('./data/全国销售订单数量表.xlsx')
order

          年月     地区代码    店铺代码  全部订单数  会员订单数
0     201801  GBL6030  DPX077    130    7.0
1     201801  GBL6030  DPX078    277   19.0
2     201801  GBL6030  DPX079    163    1.0
3     201801  GBL6030  DPX08X    154    5.0
4     201801  GBL6030  DPX082    276   14.0
...      ...      ...     ...    ...    ...
8495  201901  GBL6060  DPX865     80    2.0
8496  201901  GBL6060  DPX880    105    NaN
8497  201901  GBL6060  DPX88X     76    NaN
8498  201901  GBL6060  DPX893     99    NaN
8499  201901  GBL6060  DPJ038    122    5.0

[8500 rows x 5 columns]

In [20]:
area_vip_order=order.pivot_table(index='地区代码',columns='年月',values='会员订单数',aggfunc='sum',margins='all')
area_vip_order

年月,201801,201802,201803,201804,201805,201806,201807,201808,201809,201810,201811,201812,201901,All
地区代码,,,,,,,,,,,,,,
GBL6010,139.0,74.0,143.0,114.0,59.0,33.0,38.0,60.0,51.0,48.0,43.0,38.0,218.0,1058.0
GBL6020,16.0,31.0,16.0,11.0,483.0,552.0,75.0,915.0,540.0,78.0,8.0,42.0,198.0,2965.0
GBL6030,1881.0,1303.0,1878.0,1983.0,3012.0,2904.0,2477.0,3731.0,4290.0,2752.0,2043.0,2390.0,3072.0,33716.0
GBL6040,474.0,608.0,646.0,789.0,926.0,605.0,628.0,1189.0,1131.0,497.0,411.0,403.0,553.0,8860.0
GBL6050,799.0,850.0,1093.0,1737.0,2308.0,1714.0,1229.0,1265.0,1140.0,842.0,756.0,758.0,1042.0,15533.0
GBL6060,449.0,594.0,541.0,516.0,661.0,544.0,511.0,633.0,562.0,242.0,154.0,110.0,113.0,5630.0
GBL6070,927.0,719.0,946.0,1078.0,1101.0,948.0,916.0,1700.0,2318.0,1069.0,886.0,911.0,1016.0,14535.0
GBL6080,10.0,7.0,15.0,8.0,75.0,51.0,50.0,976.0,852.0,100.0,46.0,43.0,570.0,2803.0
GBL6090,309.0,311.0,450.0,548.0,490.0,363.0,256.0,915.0,1126.0,682.0,561.0,368.0,354.0,6733.0
GBL6100,267.0,327.0,333.0,367.0,442.0,407.0,294.0,1132.0,1205.0,872.0,425.0,267.0,1064.0,7402.0
GBL6110,712.0,832.0,1605.0,2004.0,1049.0,968.0,879.0,3063.0,3258.0,1548.0,1382.0,1857.0,2001.0,21158.0
GBL6120,106.0,112.0,244.0,235.0,115.0,48.0,121.0,422.0,386.0,248.0,121.0,154.0,126.0,2438.0
GBL6130,354.0,471.0,1034.0,1128.0,502.0,440.0,111.0,740.0,585.0,269.0,234.0,336.0,753.0,6957.0
GBL6140,437.0,438.0,1046.0,1040.0,485.0,443.0,801.0,1384.0,1035.0,852.0,687.0,574.0,932.0,10154.0
All,6880.0,6677.0,9990.0,11558.0,11708.0,10020.0,8386.0,18125.0,18479.0,10099.0,7757.0,8251.0,12012.0,139942.0

In [21]:
area_all_order=order.pivot_table(index='地区代码',columns='年月',values='全部订单数',aggfunc='sum',margins='all')
area_all_order

年月,201801,201802,201803,201804,201805,201806,201807,201808,201809,201810,201811,201812,201901,All
地区代码,,,,,,,,,,,,,,
GBL6010,6313,7576,7736,10455,12881,9287,8162,8151,6190,5500,5894,5313,6643,100101
GBL6020,8038,10076,9776,11758,14248,10947,11335,9291,8847,6927,5618,6407,8257,121525
GBL6030,16380,16995,23606,22201,22584,17215,15608,14297,17721,15831,15377,13350,14858,226023
GBL6040,9284,12724,10448,12882,12682,10219,11490,11598,10083,9082,6787,7214,10404,134897
GBL6050,3334,4849,4443,5911,6589,5264,4483,4278,4666,3743,3926,3372,5067,59925
GBL6060,2848,3847,5225,6018,6509,4810,4594,4148,4511,3906,3295,2766,3209,55686
GBL6070,14375,17605,22083,24989,26511,21979,18659,17956,22618,19918,14078,13658,16146,250575
GBL6080,6880,6733,8870,11386,13312,11234,8989,8552,10817,10301,11182,10015,10407,128678
GBL6090,5095,6562,10346,8907,9933,8107,7304,8297,9748,9287,7405,6033,6426,103450
GBL6100,2952,3700,6221,7956,7541,6496,6096,5238,6376,5423,4385,3518,3839,69741
GBL6110,4446,5284,8699,10044,9932,7561,7055,6246,7919,5999,5605,4458,4359,87607
GBL6120,1554,2146,3517,3711,2828,2150,2203,1981,2658,2329,2042,1842,1840,30801
GBL6130,11099,10755,15119,15321,15906,11957,11113,9973,10925,14524,12886,13474,12639,165691
GBL6140,4977,5331,7729,7371,8672,6937,6450,5332,5882,7254,6671,5956,6489,85051
All,97575,114183,143818,158910,170128,134163,123541,115338,128961,120024,105151,97376,110583,1619751

In [22]:
area_vip_all_order=area_vip_order/area_all_order*100
area_vip_all_order

年月,201801,201802,201803,201804,201805,201806,201807,201808,201809,201810,201811,201812,201901,All
地区代码,,,,,,,,,,,,,,
GBL6010,2.201806,0.976769,1.848501,1.090387,0.458039,0.355335,0.465572,0.736106,0.823910,0.872727,0.729555,0.715227,3.281650,1.056932
GBL6020,0.199054,0.307662,0.163666,0.093553,3.389949,5.042477,0.661667,9.848240,6.103764,1.126029,0.142399,0.655533,2.397965,2.439827
GBL6030,11.483516,7.666961,7.955605,8.932030,13.336876,16.869010,15.870067,26.096384,24.208566,17.383614,13.286077,17.902622,20.675730,14.917066
GBL6040,5.105558,4.778372,6.183002,6.124825,7.301687,5.920344,5.465622,10.251768,11.216900,5.472363,6.055695,5.586360,5.315263,6.567974
GBL6050,23.965207,17.529388,24.600495,29.385891,35.028077,32.560790,27.414678,29.569892,24.432062,22.495325,19.256240,22.479241,20.564437,25.920734
GBL6060,15.765449,15.440603,10.354067,8.574277,10.155170,11.309771,11.123204,15.260366,12.458435,6.195597,4.673748,3.976862,3.521346,10.110261
GBL6070,6.448696,4.084067,4.283838,4.313898,4.152993,4.313208,4.909159,9.467587,10.248475,5.367005,6.293508,6.670083,6.292580,5.800658
GBL6080,0.145349,0.103966,0.169109,0.070262,0.563401,0.453979,0.556235,11.412535,7.876491,0.970780,0.411375,0.429356,5.477083,2.178306
GBL6090,6.064769,4.739409,4.349507,6.152464,4.933051,4.477612,3.504929,11.028082,11.551087,7.343599,7.575962,6.099785,5.508870,6.508458
GBL6100,9.044715,8.837838,5.352837,4.612871,5.861292,6.265394,4.822835,21.611302,18.898996,16.079661,9.692132,7.589540,27.715551,10.613556
GBL6110,16.014395,15.745647,18.450397,19.952210,10.561820,12.802539,12.459249,49.039385,41.141558,25.804301,24.656557,41.655451,45.905024,24.151038
GBL6120,6.821107,5.219012,6.937731,6.332525,4.066478,2.232558,5.492510,21.302373,14.522197,10.648347,5.925563,8.360478,6.847826,7.915327
GBL6130,3.189477,4.379358,6.839077,7.362444,3.156042,3.679853,0.998830,7.420034,5.354691,1.852107,1.815924,2.493692,5.957750,4.198780
GBL6140,8.780390,8.216095,13.533445,14.109347,5.592712,6.386046,12.418605,25.956489,17.596056,11.745244,10.298306,9.637340,14.362768,11.938719
All,7.050986,5.847631,6.946279,7.273299,6.881877,7.468527,6.788030,15.714682,14.329138,8.414151,7.377010,8.473340,10.862429,8.639723

## 各地区会员连带率分析

In [23]:
consume=pd.read_excel('./data/会员消费报表.xlsx',parse_dates=['订单日期'])
consume

,卡号,订单日期,订单号,订单类型,店铺代码,款号,尺码,消费数量,消费金额,当前积分
0,HS340766JAF6,2018-11-30,ODLOX6BXX8X2BXBBBBX,下单,DPX60X,BLA267Q3X13AQM,230,1,1200.0,800
1,BL6093039999465603590,2018-11-30,ODODOXF77X8X2BXBBBB2,下单,DPX377,BLA2651QX14AQC,240,1,1332.0,2531
2,BL6093909593939600407,2018-11-30,ROX8XXFBBBB6BB,退单,DPS00X,TMA27727X5QAQM,240,-1,-112.5,328
3,BL6093036096030709394,2018-11-30,ROX8XXFBBBB6X7,退单,DPS00X,TMA67621X5QBQTM,230,-1,-60.0,1038
4,BL6093993066943700650,2018-11-30,ODLOX6BFX8XXFBBBBBX,下单,DPX603,BLA26663X52AQTM,235,1,1200.0,800
...,...,...,...,...,...,...,...,...,...,...
203432,BL6093969594069900955,2019-01-01,ODROX68BX9BXBXBBBBX,退单,DPX680,BL44P7QXQ1XXA,230,-1,-1.5,0
203433,BL6093969594069900955,2019-01-01,ODROX68BX9BXBXBBBBX,退单,DPX680,BLA26766X5QC3TM,235,-1,-1707.0,0
203434,BL6099090990995900030,2019-01-01,ODLOX68BX9BXBXBBBBF,下单,DPX680,BLA26663X56BQTM,235,1,1011.0,337
203435,BL6099090909590300063,2019-01-01,ODLOX22XX9BXBXBBBBF,下单,DPX22X,BLA27522X16AQTM,235,1,1032.0,344
203436,BL6099090909343700065,2019-01-01,ODLOX225X9BXBXBBBBX,下单,DPX225,BLA26517X11CQM,235,1,598.5,0

In [105]:
# 按照地区和年月统计会员消费数量
consume['年月']=consume['订单日期'].dt.strftime('%Y-%m')
area_consume=pd.merge(consume,store_info,on='店铺代码').query('消费数量>0 & 地区编码!="GBL6D01"')
# area_consume
area_consume_num=area_consume.pivot_table(index='地区编码',columns='年月',values='消费数量', aggfunc='sum',margins='all')
area_consume_num

年月,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,All
地区编码,,,,,,,,,,,,,,
GBL6010,133,81,155,122,79,37,45,85,61,61,52,44,261,1216
GBL6020,15,31,15,5,517,623,102,1012,613,92,9,56,292,3382
GBL6030,2071,1547,2692,3374,4269,4219,3482,4621,5452,3668,2520,2834,3791,44540
GBL6040,470,647,726,806,1008,657,718,1345,1298,572,463,431,658,9799
GBL6050,543,637,1082,1846,2589,1906,1570,1524,1303,991,817,834,1209,16851
GBL6060,441,460,613,545,771,660,672,779,728,279,169,128,165,6410
GBL6070,1082,937,1158,1248,1321,1255,1137,2097,3036,1498,1137,1198,1491,18595
GBL6080,12,9,17,4,94,58,25,1257,1151,133,52,52,679,3543
GBL6090,337,355,546,645,630,446,340,1248,1607,834,682,458,457,8585
GBL6100,247,334,373,384,492,474,338,1258,1315,933,442,302,1229,8121
GBL6110,659,829,1608,2038,1083,1087,1018,3573,3890,1894,1608,2430,2742,24459
GBL6120,116,148,284,266,128,52,130,502,500,268,141,186,170,2891
GBL6130,463,493,1254,1261,606,528,200,1032,808,379,314,403,914,8655
GBL6140,548,574,1398,1368,614,555,1135,1896,1296,1065,896,676,1205,13226
All,7137,7082,11921,13912,14201,12557,10912,22229,23058,12667,9302,10032,15263,170273

In [106]:
# 按照地区和年月统计会员订单数
# 买了多个商品生成相同的订单号
area_order_num = area_consume.pivot_table(values='订单号',
                              index='地区编码',
                              columns='年月',
                              aggfunc='nunique')
area_order_num

年月,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01
地区编码,,,,,,,,,,,,,
GBL6010,128,75,141,109,60,33,37,56,51,48,44,38,215
GBL6020,15,31,15,5,479,560,74,919,540,79,8,40,192
GBL6030,1761,1246,2028,2178,2932,2808,2401,3404,4102,2610,1936,2278,2908
GBL6040,436,594,642,717,909,583,617,1172,1112,485,400,385,537
GBL6050,511,583,973,1622,2263,1655,1177,1237,1120,809,709,715,967
GBL6060,398,418,495,468,632,541,508,620,562,229,138,104,105
GBL6070,892,726,909,1029,1048,923,866,1654,2266,1015,852,894,981
GBL6080,11,9,14,4,70,40,17,960,845,95,40,38,562
GBL6090,301,305,435,522,487,353,244,928,1113,662,552,354,340
GBL6100,234,299,307,338,408,391,280,1074,1139,820,394,266,1003
GBL6110,649,809,1560,1943,1016,943,810,3035,3213,1518,1344,1810,1978
GBL6120,102,129,235,227,112,48,117,418,377,236,114,142,122
GBL6130,411,451,994,1072,507,459,110,709,535,259,229,316,753
GBL6140,458,454,1127,1139,497,474,788,1377,1038,822,698,558,892

In [108]:
area_consume_order=area_consume_num/area_order_num
area_consume_order

年月,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,All
地区编码,,,,,,,,,,,,,,
All,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GBL6010,1.039062,1.080000,1.099291,1.119266,1.316667,1.121212,1.216216,1.517857,1.196078,1.270833,1.181818,1.157895,1.213953,NaN
GBL6020,1.000000,1.000000,1.000000,1.000000,1.079332,1.112500,1.378378,1.101197,1.135185,1.164557,1.125000,1.400000,1.520833,NaN
GBL6030,1.176036,1.241573,1.327416,1.549128,1.456003,1.502493,1.450229,1.357521,1.329108,1.405364,1.301653,1.244074,1.303645,NaN
GBL6040,1.077982,1.089226,1.130841,1.124128,1.108911,1.126930,1.163695,1.147611,1.167266,1.179381,1.157500,1.119481,1.225326,NaN
GBL6050,1.062622,1.092624,1.112025,1.138101,1.144057,1.151662,1.333900,1.232013,1.163393,1.224969,1.152327,1.166434,1.250259,NaN
GBL6060,1.108040,1.100478,1.238384,1.164530,1.219937,1.219963,1.322835,1.256452,1.295374,1.218341,1.224638,1.230769,1.571429,NaN
GBL6070,1.213004,1.290634,1.273927,1.212828,1.260496,1.359697,1.312933,1.267836,1.339806,1.475862,1.334507,1.340045,1.519878,NaN
GBL6080,1.090909,1.000000,1.214286,1.000000,1.342857,1.450000,1.470588,1.309375,1.362130,1.400000,1.300000,1.368421,1.208185,NaN
GBL6090,1.119601,1.163934,1.255172,1.235632,1.293634,1.263456,1.393443,1.344828,1.443845,1.259819,1.235507,1.293785,1.344118,NaN
GBL6100,1.055556,1.117057,1.214984,1.136095,1.205882,1.212276,1.207143,1.171322,1.154522,1.137805,1.121827,1.135338,1.225324,NaN
GBL6110,1.015408,1.024722,1.030769,1.048893,1.065945,1.152704,1.256790,1.177265,1.210707,1.247694,1.196429,1.342541,1.386249,NaN
GBL6120,1.137255,1.147287,1.208511,1.171806,1.142857,1.083333,1.111111,1.200957,1.326260,1.135593,1.236842,1.309859,1.393443,NaN
GBL6130,1.126521,1.093126,1.261569,1.176306,1.195266,1.150327,1.818182,1.455571,1.510280,1.463320,1.371179,1.275316,1.213811,NaN
GBL6140,1.196507,1.264317,1.240461,1.201054,1.235412,1.170886,1.440355,1.376906,1.248555,1.295620,1.283668,1.211470,1.350897,NaN

## 会员复购率分析

In [93]:
area_consume_day=area_consume[['年月','订单日期','卡号','地区编码']]
area_consume_day=area_consume_day.drop_duplicates()
# area_consume_month=area_consume_day.groupby(['年月','地区编码','卡号']).count()
area_consume_month=area_consume_day.pivot_table(index=['年月','地区编码','卡号'],values='卡号',aggfunc='count').reset_index()
area_consume_month.rename(columns={'订单日期':'消费次数'},inplace=True)
area_consume_month['是否复购']=area_consume_month['消费次数']>1
area_consume_month

             年月     地区编码                     卡号  消费次数   是否复购
0       2018-01  GBL6010  BL6093090390500300096     1  False
1       2018-01  GBL6010  BL6093090393644300997     1  False
2       2018-01  GBL6010  BL6093090393679600993     1  False
3       2018-01  GBL6010  BL6093090596353300039     1  False
4       2018-01  GBL6010  BL6093090693664300976     1  False
...         ...      ...                    ...   ...    ...
112276  2019-01  GBL6140           HS977639JAD0     1  False
112277  2019-01  GBL6140           HS994756JA93     1  False
112278  2019-01  GBL6140           HS994763JA90     1  False
112279  2019-01  GBL6140           SA003979LF05     1  False
112280  2019-01  GBL6140           SB036699JA9F     1  False

[112281 rows x 5 columns]

In [96]:
# 按地区统计复购人数和消费人数
reconsume_area_month=area_consume_month.pivot_table(
    values=['消费次数', '是否复购'],
    index='地区编码', aggfunc={'消费次数': 'count', '是否复购': 'sum'})
reconsume_area_month.columns=['复购人数','消费人数']
reconsume_area_month

         复购人数   消费人数
地区编码
GBL6010    32    844
GBL6020    75   2678
GBL6030   902  29269
GBL6040   495   4595
GBL6050   495  12593
GBL6060   182   4658
GBL6070  1290  10397
GBL6080    92   2419
GBL6090   550   4403
GBL6100   251   6125
GBL6110  1071  17908
GBL6120   146   1881
GBL6130   284   5709
GBL6140   437   8802

In [98]:
reconsume_rate_area=reconsume_area_month['复购人数']/reconsume_area_month['消费人数']
reconsume_rate_area

地区编码
GBL6010    0.037915
GBL6020    0.028006
GBL6030    0.030818
GBL6040    0.107726
GBL6050    0.039308
GBL6060    0.039073
GBL6070    0.124074
GBL6080    0.038032
GBL6090    0.124915
GBL6100    0.040980
GBL6110    0.059806
GBL6120    0.077618
GBL6130    0.049746
GBL6140    0.049648
dtype: float64

In [102]:
# 封装成函数
def reconsume_rate(dt1,dt2):
    area_consume_day=area_consume[['年月','订单日期','卡号','地区编码']]
    area_consume_day=area_consume_day[(area_consume_day['订单日期']>=dt1) & (area_consume_day['订单日期']<=dt2)]
    area_consume_day=area_consume_day.drop_duplicates()
    area_consume_month=area_consume_day.pivot_table(index=['年月','地区编码','卡号'],values='卡号',aggfunc='count').reset_index()
    area_consume_month.rename(columns={'订单日期':'消费次数'},inplace=True)
    area_consume_month['是否复购']=area_consume_month['消费次数']>1
    reconsume_area_month=area_consume_month.pivot_table(
        values=['消费次数', '是否复购'],
        index='地区编码', aggfunc={'消费次数': 'count', '是否复购': 'sum'})
    reconsume_area_month.columns=['复购人数','消费人数']
    return reconsume_area_month

In [104]:
reconsume_rate('2018-01-01','2018-12-31')

         复购人数   消费人数
地区编码
GBL6010    28    655
GBL6020    60   2519
GBL6030   827  26583
GBL6040   462   4287
GBL6050   461  11723
GBL6060   178   4562
GBL6070  1177   9720
GBL6080    70   1919
GBL6090   521   4178
GBL6100   203   5259
GBL6110   945  16193
GBL6120   130   1792
GBL6130   256   5058
GBL6140   400   8046